
<div id="booking" class="section">

    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <img class="logo" src="../../assets/images/logg.png">

                    <div class="booking-cta">
                        <h1>Register NOW</h1>
                        <p>Made by zerOnes
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form>
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Nom</span>
                                        <input class="form-control" type="text" placeholder="--">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Prénom</span>
                                        <input class="form-control" type="text" placeholder="--">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">CIN</span>
                                        <input class="form-control" type="text" placeholder="--">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">CNE</span>
                                        <input class="form-control" type="text" placeholder="--">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                
                                <label for="message" class="form-label">Niveau et filliére</label>
                                <select name="level" class="form-control">
                                    <option value="">--Niveau et filliére--</option>
                                    <option value="API1">API1</option>
                                    <option value="API2">API2</option>
                                    <option value="Filière Intelligence Artificielle et Génie Informatique">CI1: Intelligence Artificielle et Génie Informatique</option>
                                    <option value="FILIÈRE MANAGEMENT DES SYSTÈMES ÉLECTRIQUES INTELLIGENTS">CI1: MANAGEMENT DES SYSTÈMES ÉLECTRIQUES INTELLIGENTS</option>
                                    <option value="FILIÈRE GÉNIE MÉCANIQUE">CI1: GÉNIE MÉCANIQUE</option>
                                    <option value="FILIÈRE GÉNIE INDUSTRIEL">CI1: GÉNIE INDUSTRIEL</option>
                                    <option value="FILIÈRE GÉNIE ELECTROMÉCANIQUE">CI1: GÉNIE ELECTROMÉCANIQUE</option>
                                    <option value="Filière Intelligence Artificielle et Génie Informatique">CI2: Intelligence Artificielle et Génie Informatique</option>
                                    <option value="FILIÈRE MANAGEMENT DES SYSTÈMES ÉLECTRIQUES INTELLIGENTS">CI2: MANAGEMENT DES SYSTÈMES ÉLECTRIQUES INTELLIGENTS</option>
                                    <option value="FILIÈRE GÉNIE MÉCANIQUE">CI2: GÉNIE MÉCANIQUE</option>
                                    <option value="FILIÈRE GÉNIE INDUSTRIEL">CI2: GÉNIE INDUSTRIEL</option>
                                    <option value="FILIÈRE GÉNIE ELECTROMÉCANIQUE">CI2: GÉNIE ELECTROMÉCANIQUE</option>
                                    <option value="Filière Intelligence Artificielle et Génie Informatique">CI3: Intelligence Artificielle et Génie Informatique</option>
                                    <option value="FILIÈRE MANAGEMENT DES SYSTÈMES ÉLECTRIQUES INTELLIGENTS">CI3: MANAGEMENT DES SYSTÈMES ÉLECTRIQUES INTELLIGENTS</option>
                                    <option value="FILIÈRE GÉNIE MÉCANIQUE">CI3: GÉNIE MÉCANIQUE</option>
                                    <option value="FILIÈRE GÉNIE INDUSTRIEL">CI3: GÉNIE INDUSTRIEL</option>
                                    <option value="FILIÈRE GÉNIE ELECTROMÉCANIQUE">CI3: GÉNIE ELECTROMÉCANIQUE</option>
                
                                </select>
                                
                            </div>
                            
                            <div class="form-btn">
                                <button class="submit-btn">Registrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
